HWADDR={{ hwaddr }}
TYPE=Ethernet
BOOTPROTO={{ bootproto }}
DEFROUTE=yes
PEERDNS=yes
PEERROUTES=yes
{{ 'IPADDR=%s' % ipaddr if ipaddr }}
{{ 'NETWORK=%s' % network if network }}
{{ 'NETMASK=%s' % netmask if netmask }}
{{ 'BROADCAST=%s' % broadcast if broadcast }}
{{ 'GATEWAY=%s' % gateway if gateway }}
{{ 'DNS1=%s' % dns1 if dns1 }}
{{ 'DNS2=%s' % dns2 if dns2 }}
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
NAME={{ name }}
ONBOOT=yes
